docs/email-templates/n8n-digest-workflow.json
{
  "name": "Fordify – Wöchentlicher Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [240, 300],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=$SUPABASE_URL/rest/v1/profiles?created_at=gte.{{ new Date(Date.now() - 7*24*60*60*1000).toISOString() }}&select=count",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "$SUPABASE_ANON_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer $SUPABASE_SERVICE_ROLE_KEY"
            }
          ]
        },
        "options": {}
      },
      "id": "neue-registrierungen",
      "name": "Neue Registrierungen",
      "type": "n8n-nodes-base.httpRequest",
      "position": [480, 300],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=$SUPABASE_URL/rest/v1/subscriptions?status=eq.active&updated_at=gte.{{ new Date(Date.now() - 7*24*60*60*1000).toISOString() }}&select=count",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "$SUPABASE_ANON_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer $SUPABASE_SERVICE_ROLE_KEY"
            }
          ]
        },
        "options": {}
      },
      "id": "neue-paid-nutzer",
      "name": "Neue Paid-Nutzer",
      "type": "n8n-nodes-base.httpRequest",
      "position": [720, 300],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=$SUPABASE_URL/rest/v1/subscriptions?status=eq.active&select=count",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "$SUPABASE_ANON_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer $SUPABASE_SERVICE_ROLE_KEY"
            }
          ]
        },
        "options": {}
      },
      "id": "gesamt-paid-nutzer",
      "name": "Gesamt Paid-Nutzer",
      "type": "n8n-nodes-base.httpRequest",
      "position": [960, 300],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://fordify.goatcounter.com/api/v0/stats/total?start={{ new Date(Date.now() - 7*24*60*60*1000).toISOString().split('T')[0] }}&end={{ new Date().toISOString().split('T')[0] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer $GOATCOUNTER_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "id": "goatcounter-total",
      "name": "GoatCounter Total",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1200, 300],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://fordify.goatcounter.com/api/v0/stats/hits?start={{ new Date(Date.now() - 7*24*60*60*1000).toISOString().split('T')[0] }}&end={{ new Date().toISOString().split('T')[0] }}&limit=5",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer $GOATCOUNTER_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "id": "goatcounter-top-seiten",
      "name": "GoatCounter Top-Seiten",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1440, 300],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "// Get counts from previous nodes\nconst newRegistrations = $('Neue Registrierungen').first().json[0]?.count ?? 0;\nconst newPaid = $('Neue Paid-Nutzer').first().json[0]?.count ?? 0;\nconst totalPaid = $('Gesamt Paid-Nutzer').first().json[0]?.count ?? 0;\nconst goatTotal = $('GoatCounter Total').first().json;\nconst pageviews = goatTotal?.total ?? 0;\nconst hits = $('GoatCounter Top-Seiten').first().json?.hits ?? [];\n\n// Build top pages rows\nconst topRows = hits.slice(0, 5).map((h, i) =>\n  `<tr><td style=\"padding:8px 16px;background:#f8fafc;border-bottom:1px solid #e2e8f0;font-size:13px;\"><span style=\"color:#64748b;\">${i+1}. ${h.path}</span><span style=\"float:right;font-weight:700;color:#1e293b;\">${h.count}</span></td></tr>`\n).join('');\n\n// Calculate week dates\nconst now = new Date();\nconst weekAgo = new Date(now - 7*24*60*60*1000);\nconst fmt = d => d.toLocaleDateString('de-DE', {day:'2-digit', month:'2-digit', year:'numeric'});\nconst weekNum = Math.ceil((((now - new Date(now.getFullYear(),0,1))/86400000)+1)/7);\n\nconst html = `<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f1f5f9;padding:32px 16px;font-family:Arial,Helvetica,sans-serif;border-collapse:collapse;\"><tr><td align=\"center\"><table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:600px;width:100%;\"><tr><td style=\"background:#1e3a8a;padding:20px 32px;border-radius:8px 8px 0 0;\"><span style=\"color:#ffffff;font-family:Arial,Helvetica,sans-serif;font-size:22px;font-weight:700;letter-spacing:0.03em;\">fordify</span></td></tr><tr><td style=\"background:#ffffff;padding:36px 32px;font-family:Arial,Helvetica,sans-serif;font-size:15px;line-height:1.7;color:#1e293b;\"><h2 style=\"margin:0 0 4px;font-size:20px;font-weight:700;color:#1e293b;line-height:1.3;\">Wochenreport KW ${weekNum}</h2><p style=\"margin:0 0 28px;font-size:13px;color:#64748b;\">${fmt(weekAgo)} \\u2013 ${fmt(now)}</p><h3 style=\"margin:0 0 12px;font-size:14px;font-weight:700;color:#94a3b8;text-transform:uppercase;letter-spacing:0.08em;\">Nutzer</h3><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:0 0 28px;\"><tr><td style=\"padding:12px 16px;background:#f8fafc;border-radius:6px 6px 0 0;border-bottom:1px solid #e2e8f0;\"><span style=\"color:#64748b;font-size:13px;\">Neue Registrierungen</span><span style=\"float:right;font-weight:700;color:#1e293b;\">${newRegistrations}</span></td></tr><tr><td style=\"padding:12px 16px;background:#f8fafc;border-bottom:1px solid #e2e8f0;\"><span style=\"color:#64748b;font-size:13px;\">Neue Paid-Nutzer</span><span style=\"float:right;font-weight:700;color:#1e293b;\">${newPaid}</span></td></tr><tr><td style=\"padding:12px 16px;background:#f8fafc;border-radius:0 0 6px 6px;\"><span style=\"color:#64748b;font-size:13px;\">Gesamt aktive Paid-Nutzer</span><span style=\"float:right;font-weight:700;color:#1e3a8a;\">${totalPaid}</span></td></tr></table><h3 style=\"margin:0 0 12px;font-size:14px;font-weight:700;color:#94a3b8;text-transform:uppercase;letter-spacing:0.08em;\">Website (fordify.de)</h3><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:0 0 16px;\"><tr><td style=\"padding:12px 16px;background:#f8fafc;border-radius:6px 6px 0 0;border-bottom:1px solid #e2e8f0;\"><span style=\"color:#64748b;font-size:13px;\">Seitenaufrufe (Pageviews)</span><span style=\"float:right;font-weight:700;color:#1e293b;\">${pageviews}</span></td></tr></table><p style=\"margin:0 0 8px;font-size:13px;font-weight:700;color:#64748b;\">Top-Seiten der Woche:</p><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:0 0 28px;\">${topRows || '<tr><td style=\"padding:8px 16px;background:#f8fafc;font-size:13px;color:#64748b;\">Keine Daten verf\\u00fcgbar</td></tr>'}</table><table cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"background:#f1f5f9;border-radius:6px;\"><a href=\"https://fordify.goatcounter.com\" style=\"display:inline-block;padding:10px 20px;color:#1e3a8a;font-family:Arial,Helvetica,sans-serif;font-size:13px;font-weight:600;text-decoration:none;\">GoatCounter-Dashboard &rarr;</a></td></tr></table></td></tr><tr><td style=\"background:#f8fafc;padding:20px 32px;border-top:1px solid #e2e8f0;border-radius:0 0 8px 8px;\"><p style=\"margin:0;font-size:12px;color:#64748b;line-height:1.6;\">fordify &ndash; interner Wochenreport<br><a href=\"https://fordify.de\" style=\"color:#64748b;text-decoration:underline;\">fordify.de</a></p></td></tr></table></td></tr></table>`;\n\nreturn [{ json: { html, subject: `fordify Wochenreport \\u2013 KW ${weekNum}` } }];"
      },
      "id": "merge-und-html",
      "name": "Merge & HTML aufbauen",
      "type": "n8n-nodes-base.code",
      "position": [1680, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer $RESEND_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"Fordify Digest <noreply@fordify.de>\",\n  \"to\": [\"hallo@fordify.de\"],\n  \"subject\": \"{{ $json.subject }}\",\n  \"html\": \"{{ $json.html }}\"\n}",
        "options": {}
      },
      "id": "digest-mail-senden",
      "name": "Digest-Mail senden",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1920, 300],
      "typeVersion": 4.2
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Neue Registrierungen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Neue Registrierungen": {
      "main": [
        [
          {
            "node": "Neue Paid-Nutzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Neue Paid-Nutzer": {
      "main": [
        [
          {
            "node": "Gesamt Paid-Nutzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gesamt Paid-Nutzer": {
      "main": [
        [
          {
            "node": "GoatCounter Total",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GoatCounter Total": {
      "main": [
        [
          {
            "node": "GoatCounter Top-Seiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GoatCounter Top-Seiten": {
      "main": [
        [
          {
            "node": "Merge & HTML aufbauen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge & HTML aufbauen": {
      "main": [
        [
          {
            "node": "Digest-Mail senden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {}
}
